<div fxLayoutAlign="center" style="margin: 0 1.5rem">
  <div fxFlex="60" fxFlex.lt-md="0">
    <mat-card>
      <mat-horizontal-stepper linear #stepper>
        <mat-step [stepControl]="filesFormGroup">
          <form [formGroup]="filesFormGroup">
            <ng-template matStepLabel>Choose files</ng-template>
            <div fxFill fxLayout="row" fxLayoutGap="1.3rem">
              <div fxFlex="20">
                <img
                  src="https://dummyimage.com/600x400/000/fff"
                  width="100%"
                  class="img-border-sf"
                />
              </div>
              <div fxFlex fxLayout="column">
                <div fxFlex fxLayout="column">
                  <div class="mat-body-strong">IMG_16283687.jpeg</div>
                  <div class="mat-small">12KB</div>
                </div>
                <div fxLayout="row" style="margin-bottom: 0.2rem">
                  <div fxFlex class="mat-body-2">Last modified: 12.9.20</div>
                  <div class="mat-small">type: image/jpeg</div>
                </div>
              </div>
              <div fxFlex="20" fxLayoutAlign="center center">
                <mat-icon
                  color="warn"
                  style="margin-bottom: 1rem; font-size: 2rem"
                >
                  clear
                </mat-icon>
              </div>
            </div>
            <input
              type="file"
              hidden="true"
              formControlName="fileControl"
              (change)="fileOnChange($event)"
              #fileField
            />
            <button
              mat-raised-button
              color="primary"
              style="width: 100%"
              (click)="fileField.click()"
            >
              Attach file
            </button>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Choose receiver</ng-template>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
        </mat-step>
      </mat-horizontal-stepper>
    </mat-card>
  </div>
</div>
